<div class="fltContr">
    <h2>Filters</h2>
    <p>Launch Years</p>
    <div class="flt-year-contr">
        <div class="yr" *ngFor="let yr of years; let i=index">
            <button aria-label="select year {{ yr }}" [attr.tabindex]="i + 1" (click)="filterChange('launch_year', yr)"
                [ngClass]="filterState?.launch_year == yr ?'selected': ''">
                {{ yr }}</button>
        </div>
    </div>

    <p>Successful Launch</p>
    <div class="flt-year-contr">
        <div class="yr">
            <button aria-label="select successful Launch true" [attr.tabindex]="16"
                (click)="filterChange('launch_success', true)"
                [ngClass]="filterState?.launch_success === true?'selected': ''">True</button>
        </div>
        <div class="yr">
            <button aria-label="select successful Launch false" [attr.tabindex]="17"
                (click)="filterChange('launch_success', false)"
                [ngClass]="filterState?.launch_success === false?'selected': ''">False</button>
        </div>
    </div>

    <p>Successful Landing</p>
    <div class="flt-year-contr">
        <div class="yr">
            <button aria-label="select land successful true" [attr.tabindex]="18"
                (click)="filterChange('land_success', true)"
                [ngClass]="filterState?.land_success === true?'selected': ''">True</button>
        </div>
        <div class="yr">
            <button aria-label="select land successful false" [attr.tabindex]="19"
                (click)="filterChange('land_success', false)"
                [ngClass]="filterState?.land_success === false?'selected': ''">False</button>
        </div>
    </div>
</div>