.fltContr {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px;
    margin-top: 15px;
    h2 {
        font-size: 16px;
    }
    p {
        border-bottom: 1px solid #ccc;
        text-align: center;
        margin: 20px 15px 15px 15px;
    }
    .flt-year-contr {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px 0 20px;
        .yr {
            flex: 50%;
            margin: 10px 0 10px 0;
            button {
                padding: 3px 10px 3px 10px;
                background: #97ea97;
                border-radius: 3px;
                cursor: pointer;
                border: 0;
            }
            button.selected {
                background: #4abb4a;
            }
        }
        .yr:nth-child(even) {
            text-align-last: end;
        }
    }
}
