<section>
  <header>
    <h1> SpaceX Launch Programs</h1>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <span class="title">Developed by :</span> Subhasis Naik
  </footer>
</section>