<div class="listContr">
    <div class="spx-row">
        <div *ngFor="let item of launchesList ; let i = index" aria-label="{{item.mission_name }}"
            [attr.tabindex]="i + 19" class="dskt-3 tblt-4 smtp-4 list">
            <img [alt]="item.mission_name" [src]="item.links.mission_patch_small">
            <p class="title">{{item.mission_name}} #{{ i + 1 }}</p>
            <div class="info">
                <label>Mission Ids</label>
                <ul>
                    <li *ngFor="let mids of item.mission_id">{{ mids }}</li>
                </ul>
            </div>
            <div class="info">
                <label>Launch Year: <span>{{ item.launch_year}}</span></label>
            </div>
            <div class="info">
                <label>Successful Launch: <span>{{ item.launch_success}}</span></label>
            </div>
            <div class="info">
                <label>Successful Landing: <span>{{ item.launch_landing}}</span></label>
            </div>
        </div>

    </div>
</div>