.listContr {
    padding: 10px;
    margin-top: 5px;
    max-height: 720px;

    .list {
        background: #fff;
        border-radius: 4px;
        padding: 15px;
    }

    img {
        background-color: #efefef;
        border-radius: 4px;
    }

    .title {
        font-weight: 600;
        color: #0d508c;
    }
    .info {
        margin: 10px 0 0 0;
        label {
            font-weight: 600;
        }
        ul {
            margin: 5px 0 0px 0;
            li {
                color: #0d508c;
            }
        }
        span {
            color: #0d508c;
            font-weight: normal;
        }
    }
}
