<div class="container">
    <div class="spx-row">
        <div class="dskt-2 tblt-2 smtp-4">
            <spaceX-filter-component [initialState]="filterState" (emitFilterChange)="changeFilter($event)">
            </spaceX-filter-component>

        </div>
        <div class="dskt-10 tblt-6 smtp-4">
            <spaceX-launches-detail-component [launchesList]="launchesList$ | async"></spaceX-launches-detail-component>
        </div>
    </div>
</div>