/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .listContr img {
        height: 334px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .listContr img {
        height: 294px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {
    .listContr img {
        height: 280px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .listContr img {
        height: 240px;
    }
}

@media only screen and (max-width: 280px) {
    .listContr img {
        height: 200px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .listContr img {
        height: 322px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
    .listContr img {
        height: 225px;
    }
}

@media only screen and (min-device-width: 1023px) {
    .listContr img {
        height: 230px;
    }
}
