/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #efefef;
}

section {
    width: 100%;
    height: 100vh;
    padding: 15px;
    max-width: 1440px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-content: center;

    header {
        h1 {
            font-size: 24px;
            font-weight: 600;
            margin: 5px 0 5px 0;
        }
    }
    main {
        flex: 1;
    }
    footer {
        font-size: 14px;
        text-align: center;
        position: fixed;
        bottom: 0;
        background: #efefef;
        width: 100%;
        padding: 6px;
        .title {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

/* scroll bar width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
